body {
  margin: 0;
  padding: 0;
}
.form-label {
  margin-left: 10px;
}
.icon-asterisk {
  color: red;
  font-size: 7px;
}

.container{
  width: 100%;
}

.preload {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 60px;
  height: 60px;
  margin: -42px 0 0 -12px;
  /*background: #C60B09;*/
  background: #47203a;
  transform: rotate(45deg);
  animation: spin 1s infinite linear;
}
@keyframes spin {
	0% { -webkit-transform:rotate(0deg); }
	100% { -webkit-transform:rotate(360deg); }
}
